<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
<br>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<br>
<p>
  <strong>Icon:</strong>
  <%= image_tag(@user.icon) %>
</p>
<br>
<%= link_to 'Edit', edit_user_path(@user) %>
